{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>OUR PEOPLE IN CREW</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/vijay1.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Mr.Vijay</div>
            <div class="designation">C.E.O</div>
            </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/ajith.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Mr.Ajith</div>
            <div class="designation">C.O.O</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/nayanthara160919_1_12.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Ms.Nayanthara</div>
            <div class="designation">MD</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/suriya.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Mr.Suriay</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/dhanush.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Mr.Dhanush</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/kashmira.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Ms.kashmira</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
</div>


{% endblock  %}